* {
    margin: 0;
    padding: 0;
}
body button:hover{
    transform: scale(1.2);
    translate: 10px;
    transition: 0.1s;
}
@keyframes hover {
    100% {
        transform: scale(2);
        translate: 1.3rem;
    }
}

/*<navbar style ..............>
==============================================*/

.navbar {
    background-color: rgb(10, 10, 53);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3rem;
    position: relative;
}

.about {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    width: 5.5rem;
    height: 2rem;
    background-color: rgb(212, 255, 19);
}

.about:hover {
    opacity: 0.75;
    text-decoration: underline;
}

.heading {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.mode {
    cursor: pointer;
    width: 6.5rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

.mode:hover {
    opacity: 0.75;
    text-decoration: underline;
}

/*< home page style..................>
=================================================*/

.homePage {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 55vh;
    margin-top: 4rem;
}
/*
.homePageInvisibility {
    display: none;
}*/

.homeText {
    color: black;
    background-color: aliceblue;
    width: 45vw;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.8),
        25px 0px 20px -20px rgba(0, 0, 0, 0.8),
        0px 25px 20px -20px rgba(0, 0, 0, 0.8),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.8);
}

.homeText h1 {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeText h2 {
    font-size: 1.6rem;
    text-align: justify;
}

.homeText h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contactImg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

#githubImg, #linkedinImg {
    width: 8rem;
}

.homeImg {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#homeWallpaper {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}

.startGame {
    cursor: pointer;
    background-color: chartreuse;
    width: 9.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
    border: 1.5px solid rgb(74, 14, 88);
    border-radius: 1rem;
    user-select: none;
    margin-left: -5rem;
}

/* < user choice section style.........................>
==================================================================*/

.choiceGamePage{
    background-color: #afbecf;
    border-radius: 2rem;
    padding: 4rem;
    width: 50%;
    height: 50%;
    margin: 5rem 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}
.choiceGamePageInvisibility{
    display: none;
}
.vsComputer, .vsMultiPlayer{
    cursor: pointer;
    color: #ffffff;
    background-image: linear-gradient(to top right, rgb(71, 47, 2), rgb(139, 139, 5), rgb(54, 3, 88));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
}
#vsComputerLogo{
    width: 8rem;
}
.vsComputerText, .vsMultiPlayerText{
    font-size: 2rem;
    font-weight: bold;
}
#vsMultiPlayerLogo{
    width: 8rem;
    background-color: aqua;
    border-radius: 50%;
}

.choiceGamePage div, #githubImg, #linkedinImg:hover {
    color: rgb(51, 2, 92);
    transform: scale(1.2);
    translate: 10px;
    transition: 0.1s;
}

@keyframes hover {
    100% {
        transform: scale(2);
        translate: 1.3rem;
    }
}
.cancel{
    cursor: pointer;
    color: #ffffff;
    background-color: black;
    width: 8.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 1rem; 
    position: absolute;
    margin-top: 25rem;
}


/*< game page style....................>
=====================================================
=====================================================*/

/*..............<main game section..........>
=============================================================*/

/*....................<vs computer..................>
==============================================================

work later....

*/

/*..............................<vs multiplayer......................>
==========================================================================*/

.vsMultiPlayerGamePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75vh;
    margin-top: 2rem;
}
.multiPlayerGamePageInvisibility{
    display: none;
}
.lowOpacity{
    opacity: 0.2;
}
.gameArea {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 73vh;
}

.gameBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.7rem;
    row-gap: 0.7rem;
}

.box {
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    border-radius: 1.5rem;
    color: black;
    background-color: rgb(104, 50, 6);
    font-weight: bold;
    font-size: 3.5rem;
}

.newResetBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.8rem;
}

.newGame,
.resetGame {
    cursor: pointer;
    color: #ffffff;
    background-color: black;
    width: 7.5rem;
    height: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 1rem;
}

/*..............<messege section..........>
=====================================================*/

.messege {
    color: black;
    background-color: rgb(187, 178, 178);
    width: 16rem;
    height: 8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    user-select: none;
}

/*..............<scoreboard section..........>
=====================================================*/

.scoreBox {
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(153, 36, 58);
    width: 16rem;
    height: 18rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.scoreText {
    font-size: 2.5rem;
    text-decoration: underline;
}

.playerScoreBox {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    font-size: 1.4rem;
    text-decoration: underline;
}

.playerOScore,
.playerXScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.OScore,
.XScore {
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    width: 5rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.exitGame {
    cursor: pointer;
    color: #ffffff;
    background-color: black;
    width: 6.5rem;
    height: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 1rem;
    margin-top: 2.5rem;
}

/*<confirm box style.....................>
========================================================*/

.confirmBox{
    background-color: #5b7594;
    border-radius: 2rem;
    padding: 2rem;
    width: 25%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    position: absolute;
    margin: 7rem 33rem;
    opacity: 1;
    z-index: 2;
}
.confirmText{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.exitCancel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}
.confirmBox span{
    cursor: pointer;
    color: wheat;
    background-color: rgb(5, 5, 100);
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.confirmBoxInvisibility{
    display: none;
}

/*< footer style........................>
========================================================*/

.footer {
    background-color: rgb(34, 32, 32);
    opacity: 1;
    width: 100%;
    height: 7vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    color: aliceblue;
}

.email a {
    color: #6e8fbb;
    text-decoration: none;

}

.email a:hover {
    text-decoration: underline;
    color: #FF671F;
}

.portfolioImg img {
    width: 10vw;
    background-color: bisque;
    height: 4vh;
    border-radius: 10%;
    cursor: pointer;
}

.portfolioImg img:hover {
    opacity: 0.75;
}
